{% extends 'base.html.twig' %}

{%block body%}

    <h1> adding picture</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <input type="submit" value="Create" class="btn btn-primary"/>
    {{form_end(form)}}

    <ul>
        <li>
            <a href="{{ path('picture_index')}}" class="btn btn-primary">Back</a>
        </li>
    </ul>
    {% endblock %}